@using Microsoft.AspNetCore.Http;
@model InstructorDTO
@{
    ViewData["Title"] = "NewInstructor";
    SelectList selectDeptItems = new SelectList(Model.departments, "Id", "Name");
    
}

<h1>NewInstructor</h1>

<form asp-action="AddNewInstructor" asp-controller="Instructor" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label asp-for="@Model.instructor.Name"></label>
        <input class="form-control" asp-for="@Model.instructor.Name" />
    </div>

    <div class="mb-3">
        <label asp-for="@Model.instructor.Salary" class="form-label"></label>
        <input class="form-control" asp-for="@Model.instructor.Salary" />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.instructor.Address" class="form-label"></label>
        <input class="form-control" asp-for="@Model.instructor.Address" />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.instructor.Image" class="form-label"></label>
        <input class="form-control" asp-for="@Model.file" type="file" />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.instructor.DeptId" class="form-label"></label>
        <select class="form-control" asp-for="@Model.instructor.DeptId" asp-items=selectDeptItems onchange="Courses()" id="DeptId">
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.instructor.CrsId" class="form-label"></label>
        <select class="form-control" id="Crs" asp-for="@Model.instructor.CrsId">
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function Courses()
    {
        var deptId = document.getElementById("DeptId").value;
        var container = document.getElementById("Crs");
        $.ajax({
            url: "/Instructor/Courses?DeptId=" + deptId, success: function (result) {
                console.log('Received result:', result);
                container.innerHTML = "";
                for (let r of result) {
                    console.log(r);
                    container.innerHTML += "<option value="+r.id+">" + r.name + "</option>";
                }
               
            }
        });
       
    }
</script>